@charset "utf-8";


/*=====================================================*/

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.st0 {
    fill: #2a2a2a;
}

.sb {
    -webkit-box-shadow: 5px 20px 30px rgba(124, 124, 124, 0.52);
    box-shadow: 6px 20px 30px rgba(21, 26, 49, 0.17);
}

.shadow {
    background-color: white;
    -webkit-box-shadow: 0 2px 30px rgba(93, 93, 93, 0.17);
    box-shadow: 0 2px 30px rgba(32, 37, 62, 0.19);
    transition: 1s;
}

::-moz-selection {
    background: #6D84FE;
    color: white;
}


::selection {
    background: #6D84FE;
    color: white;
}

/*===================MENU BAR===================*/
#wrap .menu-wrapper .menu-bar {
    width: 95%;
    height: 80px;
    margin: 0 auto;
}

/*===================hacking&security training system===================*/

#hacking-system-wrapper {
    width: 950px;
    margin: 0 auto;
    text-align: center;
    padding-top: 230px;
}

#hacking-system-wrapper .tab-area {
    width: 960px;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 100px;
   
}

.tabs ul {
    width: 259px;
    margin: 0 auto;
}

.tabs ul li {
    float: left;
    height: 31px;
    width: 128px;
    line-height: 31px;
    margin-bottom: 100px;
    overflow: hidden;
    position: relative;
}


.tabs ul li:nth-child(2) {
    border-right: none;
}

.tabs ul li a {
    text-decoration: none;
    font-size: 25px;
    display: block;
    position: relative;
    font-family: 'NanumSquareEB';

    /*--Gives the bevel look with a 1px white border inside the list item--*/
}

.active a{
    color: #6D84FE;
}

.active{
    position: relative;
}

.active:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 10px;
    background-color: #ffffff;
}

.tab-container {
    text-align: center;
}

.tab-container .tab-content .company-introduce-wrap {
    width: 100%;
    height: 600px;
    text-align: left;
}

.tab-container .tab-content .company-introduce-wrap .intro-image-wrap {
    float: left;
    width: 500px;

}

.tab-container .tab-content .company-introduce-wrap .intro-image-wrap span {
    display: block;
	background: url('../images/hacking_all.png') no-repeat -17px -56px;
	width: 500px;
	height: 500px;
    border-radius: 500px;
}

.tab-container .tab-content .company-introduce-wrap .intro-story-wrap {
    padding-top: 60px;
    width: 400px;
    height: 100%;
    float: right;
}

.tab-container .tab-content .company-introduce-wrap .intro-story-wrap h3 {
    font-family: 'NanumSquareEB';
    font-size: 30px;
    text-align: left;
    line-height: 45px;
    margin-bottom: 20px;
}

.company-introduce-wrap .intro-story-wrap h3 strong {
    color: #6D84FE;
}

.company-introduce-wrap .intro-story-wrap p {
    font-size: 20px;
    line-height: 28px;
    word-break: keep-all;
}

/********tab-container tab2 table*******
========================================***/

table {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    border-top: 3px solid #6D84FE;
    border-bottom: 3px solid #6D84FE;
}


table tr td {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

/*표 날짜*/
table tr td:nth-child(1) {
    font-family: 'NanumSquareEB';
    width: 150px;
    background-color: #EAEAEA;
    border-left: none;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding: 30px;
    letter-spacing: -1px;
}

/*표 공지사항 내용*/
table tr td:nth-child(2) {
    background-color: white;
    line-height: 25px;
    padding: 20px;
}

/********트레이닝코스 신청********************
========================================***/

#training-course-card-wrap .training-course-card-center > h3 {
    font-family: 'NanumSquareEB';
    font-size: 19px;
    margin-bottom: 40px;
}


#training-course-card-wrap {
    height: auto;
}

#training-course-card-wrap .training-course-card-center {
    width: 840px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 150px;
}

#training-course-card-wrap .training-course-card-center .training-card-wrap:nth-child(2n+1){
    margin-right: 0px;
}

#training-course-card-wrap .training-course-card-center .training-card-wrap:nth-child(4){
    margin-right: 35px;
}

#training-course-card-wrap .training-course-card-center .training-card-wrap:nth-child(4n+1){
    margin-right: 0px;
}

/*강의 신청 카드 안에 내용들*/

/* 강의 날짜*/
#training-course-card-wrap .training-course-card-center .training-card-wrap .course-day {
    margin-bottom: 20px;
}

/* 강의 내용 자세히보기*/
.training-card-wrap .course-content a {
    border-bottom: 1px solid #2a2a2a;
}

.training-card-wrap .applications-wrap {
    margin-bottom: 30px;
}

/*현재 신청 인원*/

.training-card-wrap .applications-wrap .applications-current {
    float: left;
}

/*최대 신청 인원*/

.applications-wrap .applications-maximum {
    float: right;
}

.applications-wrap span {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.applications-wrap p {
    font-size: 40px;
    font-family: 'NanumSquareEB';
}

.training-card-wrap .course-amount {
    display: block;
    font-size: 30px;
    font-family: 'NanumSquareEB';
    color: #6D84FE;
    margin-bottom: 30px;
}

.training-card-wrap .course-button {
    display: block;
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #6D84FE;
    border: none;
    color: white;
    margin-bottom: 10px;
     -webkit-box-shadow: 5px 15px 30px rgba(95, 114, 217, 0.57);
    box-shadow: 5px 15px 30px rgba(95, 114, 217, 0.57);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.training-card-wrap .course-button:hover {
    box-shadow: none;
}

/*footer*/


#hacking-footer-wrap .hacking-footer-center {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
}


#hacking-footer-wrap .hacking-footer-center .hacking-if-area {
    float: left;
    margin-right: 140px;
}

#hacking-footer-wrap .hacking-footer-center .hacking-if-area:last-child {
    margin-right: 0px;
}

.hacking-footer-center .hacking-if-area span {
    display: block;
    font-family: 'NanumSquareEB';
    font-size: 20px;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hacking-footer-center .hacking-if-area p {
    color: #CBD7FF;
    margin-bottom: 10px;
}

.hacking-footer-center .hacking-if-area .hacking-if-margin {
    margin-bottom: 50px;
}

.hacking-footer-center .hacking-if-area > a {
    font-family: 'NanumSquareEB';
    display: block;
    color: white;
    margin-top: 30px;

}

#hacking-footer-wrap .footer-copyright {
    text-align: center;
    background-color: #6D84FE;
    color: #CBD7FF;
    padding: 30px 0;
}

/*********************everspin신청하기페이지***********************/

#hacking-signup-form-wrap {
    width: 980px;
    margin: 0 auto;
    text-align: center;
    padding-top: 230px;
    height: auto;
}

#hacking-signup-form-wrap h2 {
    font-size: 40px;
    font-family: 'NanumSquareEB';
    margin-bottom: 60px;
}

#hacking-signup-form-wrap .hacking-signup-form {
    position: relative;
}

#hacking-signup-form-wrap .hacking-signup-form .hacking-signup-left-wrap {
    display: block;
    width: 520px;
    height: auto;
    background-color: #6D84FE;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 200px;
    padding: 150px 50px 100px 50px;
    color: white;
    text-align: left;
    line-height: 27px;
}

.hacking-signup-form .hacking-signup-left-wrap .hakcing-logo-mini {
    position: absolute;
    background: url('../images/hacking_all.png') no-repeat -5px -5px;
    width: 50px;
    height: 50px;
    left: 20px;
    top: 20px;
}


/*************신청하기 form**********/

.hacking-signup-form .hacking-signup-right-wrap {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    padding: 100px 0 0 40px;
    position: absolute;
    top: 0px;
    right: 50%;
    margin-right: -491px;
}

.hacking-signup-form .hacking-signup-right-wrap .page-back {
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
}



.hacking-signup-form .hacking-signup-right-wrap .hacking-logo-title {
    display: block;
    background: url('../images/hacking_all.png') no-repeat -65px -8px;
    width: 300px;
    height: 33px;
    margin-left: 10px;
    margin-bottom: 45px;
}

.hacking-signup-form .hacking-signup-right-wrap.post-form fieldset {
    width: 340px;
}


.hacking-signup-form .hacking-signup-right-wrap.post-form .form-area {
    width: 380px;
    position: relative;
}

.hacking-signup-form .hacking-signup-right-wrap.post-form input[type="text"] {
    width: 340px;
    height: 40px;
    font-size: 18px;
    padding-left: 20px;
    background-color: #efefef;
    border: none;
    font-family: 'NanumSquareR';
    margin-bottom: 5px;
}

.hacking-signup-form .hacking-signup-right-wrap.post-form input[type="email"] {
    width: 340px;
    height: 40px;
    font-size: 18px;
    padding-left: 20px;
    background-color: #efefef;
    border: none;
    font-family: 'NanumSquareR';
    margin-bottom: 5px;
}

.hacking-signup-form .hacking-signup-right-wrap.post-form input[type="submit"] {
    width: 360px;
    height: 50px;
    font-size: 18px;
    background-color: #6D84FE;
    color: white;
    border: none;
    font-family: 'NanumSquareEB';
    margin-top: 20px;
    -webkit-box-shadow: 3px 15px 30px rgba(95, 114, 217, 0.6);
    box-shadow: 3px 15px 30px rgba(95, 114, 217, 0.6);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 80px;
}

.hacking-signup-form .hacking-signup-right-wrap.post-form input[type="submit"]:hover{
    box-shadow: none;
}

.hacking-signup-form .hacking-signup-right-wrap.post-form label {
    position: absolute;
    top: 13px;
    right: 20px;
}

.error {
    color: #FC7070;
    font-size: 16.5px;
}

.hacking-signup-form .hacking-signup-right-wrap.post-form input::placeholder {
    color: #bcbcbc;
}

.hacking-signup-form .hacking-signup-right-wrap.post-form input:focus{
    border: 1px solid #6D84FE;
}

.hacking-signup-form .hacking-signup-right-wrap.post-form p {
    width: 390px;
    font-size: 16.5px;
    text-align: left;
    margin-bottom: 25px;
    padding-left: 10px;
}














